<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.=w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Customer First Email</title>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
		<style xml:space="preserve">
		</style>
	</head>
	<body>
		<table cellspacing="0" cellpadding="0" width="100%" style='background-image:url("http://www.thdemoservices.com/banking/themes/wealth_banking_theme/images/template/header-content-bg.jpg");'>
			<tbody>
				<tr>
					<td width="60%" rowspan="1" colspan="1">
						<p>
						<img src="https://th3.eu2.visual.force.com/servlet/servlet.ImageServer?id=015b0000000pdCnAAI&oid=00Db0000000dI28EAE" width="204" height="59" alt="Customer 1st Group Logo (First Cut)"/ style="padding-left: 5%">   </p>
					</td>
					<td width="20%" rowspan="1" colspan="1">
						<p></p>
					</td>
					<td width="20%" rowspan="1" colspan="1">
						<p>
						<img src="https://th3.eu2.visual.force.com/servlet/servlet.ImageServer?id=015b0000000pjXQAAY&oid=00Db0000000dI28EAE" width="140" height="67" alt="premier_banking"/>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
		<table cellspacing="0%" cellpadding="0%" width="100%" style="keep-together.within-page: always;padding-left: 5%;padding-right: 10%">
			<tbody>
				<tr>
					<td width="100%" rowspan="1" colspan="1" style="background-color: white;padding-left: 5%;padding-right: 5%;opacity: 0.9">
						<p align="right" style="color: gray;font-weight: bold;font-size: 12pt;font-family: Arial;margin-bottom: 12pt;">February 9, 2016</p>
						<p style="color: gray;font-weight: normal;font-size: 12pt;font-family: Arial;margin-bottom: 12pt;">Dear <%= "#{data[:first_name]} #{data[:last_name]},"</p>
						<p style="color: gray;font-weight: bold;font-size: 14pt;font-family: Arial;margin-bottom: 12pt;">Customer 1st premier relationship package offers a higher level of benefits and a meaningful way to simplify your finances and save money.</p>
						<p style="color: gray;font-weight: normal;font-size: 12pt;font-family: Arial;margin-bottom: 12pt;">An interest-earning PMA Premier Checking account is the foundation of our PMA Package. When you link it to your other eligible Customer 1st accounts — like savings, CDs (Time Accounts), mortgages, IRAs, and more — you can:</p>
						<ul>
							<li style="color: gray;font-weight: normal;font-size: 12pt;font-family: Arial;margin-bottom: 12pt;">Save money with premier benefits. Get bonus interest rates, bigger discounts, and fee waivers for many common banking services.</li>
							<li style="color: gray;font-weight: normal;font-size: 12pt;font-family: Arial;margin-bottom: 12pt;">Save time with easier financial management. With the PMA combined statement and online access, you can easily see your financial picture and information on your linked Customer 1st accounts.</li>
							<li style="color: gray;font-weight: normal;font-size: 12pt;font-family: Arial;margin-bottom: 12pt;">Enjoy premier service. The Customer 1st Preferred Banking TeamSM offers superior service access with 24/7 phone support.</li>
						</ul>
						<p>
						<p style="color: gray;font-weight: normal;font-size: 12pt;font-family: Arial;margin-bottom: 12pt;">If you would like to see all the benefits please visit our website: <a href="http://thedemoservices.com/banking/index.php?ONE-DEMO3D1&amp;ck=<%= data[:email_address] %>" shape="rect">PMA Package Account</a>, or come in branch and speak to one of our specialists.</p>
						<p style="color: gray;font-weight: normal;font-size: 12pt;font-family: Arial;margin-bottom: 12pt;">Of course, should you have any questions, please do not hesitate to contact me. We appreciate our relationship with you and I look forward to being of continued service. </p>
						<p style="color: gray;font-weight: normal;font-size: 12pt;font-family: Arial;margin-bottom: 12pt;">Sincerely,</p>
						<p style="color: gray;font-weight: normal;font-size: 12pt;font-family: Arial;margin-bottom: 12pt;">Peter Smith<br clear="none"/>psmith@customerfirst.com<br clear="none"/>Preferred Banking - Customer Relations</p>
					</td>
				</tr>
			</tbody>
		</table>
		<p style="color: white;font-weight: normal;font-size: 12pt;font-family: Arial;margin-bottom: 12pt;"></p>
		<table cellspacing="0" cellpadding="0" width="100%" style='keep-together.within-page: always;background-image:url("https://www.thdemoservices.com/banking/themes/wealth_banking_theme/images/template/header-content-bg.jpg");'>
		<tbody>
		<tr>
		<td width="33.3333333333333%" rowspan="1" colspan="1" style="padding-left: 5%;display-align: center;">
		<p style="color: white;font-weight: normal;font-size: 8pt;font-family: Arial;">Customer First Wealth Inc.</p>
		</td>
		<td width="33.3333333333333%" rowspan="1" colspan="1" style="padding-left: 5%;display-align: center;">
		<p style="color: white;font-weight: bold;font-size: 8pt;font-family: Arial; text-align: center">NOT FDIC Insured May Lose Value</p>
		</td>
		<td width="33.3333333333333%" rowspan="1" colspan="1" style="padding-left: 5%;display-align: center;">
		<p style="color: white;font-weight: bold;font-size: 8pt;font-family: Arial; text-align: right;padding-right: 10%">Copyright 2014</p>
		</td>
		</tr>
		</tbody>
		</table>
		<p style="color: gray;font-weight: normal;font-size: 12pt;font-family: Arial;margin-bottom: 12pt;"></p>
	</body>
</html>